<%-include ('./partials/header.ejs')%>
<h1>Place your order</h1>
<span id='url' data='<%=url%>'></span>
<div class="container">
    <form action="">
      <select class="form-control" name="product" id="productSel" required>
            <option value="">-Select Product-</option>
        <%products.forEach((product)=>{ %>
            <option data='<%=product._id%>' value="<%=product.name%>"><%=product.name%></option>
            <% }) %>
    </select>
    <select class="form-control" name="size" id="size">
        <option value="">-Select Size-</option>
        <option value="xl">XtraLarge</option>
        <option value="lg">Large</option>
        <option value="rg">Regular</option>
        <option value="sm">Small</option>
        <option value="xs">XtraSmall</option>
    </select>
    <input class="form-control" type="number" min="1" name="amount" id="amt" required>
          <input class="form-control" type="submit" value="Purchase">
</form>
    <div id="cart">
    
    </div>
</div>

<script>
var request = new XMLHttpRequest();
var url = document.querySelector('#url').getAttribute('data');
const productSel = document.querySelector('#productSel');
const getPrice = ()=>{
   var id = productSel.data;
   console.log(id)
request.open('GET', `${url}/`, true)
request.onload = ()=>{
const data = JSON.parse(request.response)
// request.send();
} 

}
productSel.onchange = getPrice;
const options = document.querySelectorAll('#productSel option');
options.forEach((option)=>{
    option.onselect = ()=>console.log(this.value)
})
</script>
<%-include ('./partials/header.ejs')%>
